extends layout

block content
  h1= title
  
  ul
    each school in school_list
      li 
        a(href=school.url) #{school.title} 
        |  (#{school.HSID.name})

    else
      li There are no schools.